@font-face {
	font-family: 'TahomaWine';
	src: url('/media/Tahoma Wine.ttf');
}

*, *:before, *:after {
	box-sizing: inherit;
}

html {
	background-color: #3A69A1;
	background: linear-gradient(0, #3A69A1 0%, #3A69A1 100%);
	cursor: default;
	font-family: TahomaWine, Arial, Helvetica, Verdana, cursive;
	font-size: 12px;
	font-smooth: never;
	-webkit-font-smoothing: none;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Firefox */
	    -ms-user-select: none; /* Internet Explorer/Edge */
	        user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

html.progress {
	cursor: progress;
}

html.progress #upload-section {
	cursor: wait;
}

body {
	overflow: hidden;
}

main {
	box-sizing: border-box;
	height: 100vh;
	overflow-y: scroll;
}

main::-webkit-scrollbar {
    background-image: url("/media/Scrollbar Background.png");
}

main::-webkit-scrollbar-button:single-button {
	background-color: #D6D3CE;
	border-top:    1px solid #D6D3CE;
	border-bottom: 1px solid #424142;
	border-left:   1px solid #D6D3CE;
	border-right:  1px solid #424142;
	box-shadow: inset 1px 1px white;
	margin: 0 auto 20px auto;
	height: 16px;
	position: fixed;
	width: 16px;
}

main::-webkit-scrollbar-button:vertical:decrement {
	background-image: url("/media/Scrollbar Arrow Up.png");
}

main::-webkit-scrollbar-button:vertical:increment {
	background-image: url("/media/Scrollbar Arrow Down.png");
}

main::-webkit-scrollbar-button:horizontal:decrement {
	background-image: url("/media/Scrollbar Arrow Left.png");
}

main::-webkit-scrollbar-button:horizontal:increment {
	background-image: url("/media/Scrollbar Arrow Right.png");
}

main::-webkit-scrollbar-thumb {
	background-color: #D6D3CE;
	border-top:    1px solid #D6D3CE;
	border-bottom: 1px solid #424142;
	border-left:   1px solid #D6D3CE;
	border-right:  1px solid #424142;
	box-shadow: inset 1px 1px white;
}

h2 {
	color: white;
	display: inline-block;
	font-family: Arial;
	font-weight: bold;
	padding: 3px 0 0 3px;
}

p, li {
	margin: 4px 0;
}

label {
	cursor: inherit;
	display: block;
	line-height: normal;
	width: 100%;
}

input {
	cursor: inherit;
	display: block;
	width: 100%;
}

input, button {
	color: black;
	font-family: TahomaWine;
	font-size: 12px;
}

input[disabled=disabled] {
	background-color: #D6D3CE;
}

/* make this the default behaviour */
button:focus, input:focus {
	outline: none;
}

input[type=password], input[type=text], input[type=url] {
	border-top: 1px solid #424142;
	border-left: 1px solid #424142;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	box-shadow: inset 1px 1px #848284;
	height: 21px;
	margin: 1px 0 2px 0;
	padding: 1px 6px;
	width: 100%;
}

form {
	cursor: inherit;
}

form button:focus, .form button:focus, form input[type=submit]:focus, form input[type=file] button:focus {
	outline: 1px solid black;
}

input[type=submit], button {
	background-color: #D6D3CE;
	border-top: 1px solid white;
	border-left: 1px solid white;
	border-right: 1px solid #424142;
	border-bottom: 1px solid #424142;
	box-shadow: inset -1px -1px #848284;
	cursor: pointer;
	height: 21px;
	padding: 0 6px 1px 6px;
	width: auto;
}

.progress input[type=submit], button {
	cursor: inherit;
}

input[type=submit]:active, button:active, button.active {
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	border-left: 1px solid #424142;
	border-top: 1px solid #424142;
	box-shadow: inset 1px 1px #848284;
}

input[type=submit], button.submit {
	display: block;
}

ul.text {
	margin: 10px 0;
}

ul.text li {
	list-style-type: square;
    margin-left: 25px;
}

button.file {
	display: inline-block;
}

.file-name {
	vertical-align: baseline;
}

.file-upload {
	height: 23px;
	margin: 4px auto 4px 0;
	overflow: hidden;
	padding: 1px;
	position: relative;
}

.file-upload input[type=file] {
	cursor: pointer;
	height: 100%;
	margin: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.progress .file-upload input[type=file] {
	cursor: inherit;
}

input[type=submit], button.submit{
	margin: 8px 0 auto auto;
}

main {
	padding: 20px;
}

section {
	background-color: #D6D3CE;
	border-top:    1px solid #D6D3CE;
	border-bottom: 1px solid #424142;
	border-left:   1px solid #D6D3CE;
	border-right:  1px solid #424142;
	margin: 0 auto 20px auto;
	width: 500px;
}

section div.section-borders {
	border-top:    1px solid #FFFFFF;
	border-bottom: 1px solid #848284;
	border-left:   1px solid #FFFFFF;
	border-right:  1px solid #848284;
	padding: 1px;
}

fieldset {
	border: 1px solid;
	border-top-color: #424142;
	border-left-color: #424142;
	border-right-color: white;
	border-bottom-color: white;
	box-shadow: inset 1px 1px white;
	cursor: inherit;
	margin: 10px 0;
	padding: 1px 12px 6px 12px;
}

legend {
	background-color: #D6D3CE;
	cursor: inherit;
	padding: 0 2px;
}

#upload-media-button {
	margin-top: -2px;
}

#currently-playing p {
	margin: 6px 0;
	text-align: center;
}

#currently-playing .wordart {
	font-size: 50px;
	margin: 50px 0;
}

#nickname-form {
	padding: 6px 0 0 0;
}

#admin-form {
    padding: 6px 0 0 0;
}

#admin-section fieldset {
	padding-top: 4px;
}

button.action {
	margin: 2px 0;
}

.bag.extra-pad {
	padding-top: 6px;
}

.handle {
	background: rgba(8,36,107,1);
	background: -moz-linear-gradient(left, rgba(8,36,107,1) 0%, rgba(165,203,247,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(8,36,107,1)), color-stop(100%, rgba(165,203,247,1)));
	background: -webkit-linear-gradient(left, rgba(8,36,107,1) 0%, rgba(165,203,247,1) 100%);
	background: -o-linear-gradient(left, rgba(8,36,107,1) 0%, rgba(165,203,247,1) 100%);
	background: -ms-linear-gradient(left, rgba(8,36,107,1) 0%, rgba(165,203,247,1) 100%);
	background: linear-gradient(to right, rgba(8,36,107,1) 0%, rgba(165,203,247,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08246b', endColorstr='#a5cbf7', GradientType=1 );

	display: block;
	height: 18px;
	width: 100%;
}

.x-button {
    display: inline-block;
    float: right;
    margin: 2px;
    width: 16px;
    height: 14px;
    background-image: url("/media/X Button.png");
}

.bag {
	display: block;
	overflow: hidden;
	padding: 0 12px 6px 12px;
}

.bucket {
	display: table;
	list-style: inside decimal;
	margin: 0;
	padding: 0;
	width: 100%;
}

.bucket li {
	line-height: 21px;
}

.queue-item {
	display: table-row;
	width: 100%;
	padding: 5px;
}

.queue-item > span {
	display: table-cell;
	width: 100px;
	height: 20px;
	padding: 5px;
}

.hidden {
	display: none;
}

/* special cases */

#party-mode-canvas {
	pointer-events: none;
}
